{% extends "layout.html" %}

{% block gallows %}
  <div class="text-center" id="header">
    <h2 class="header">Guess the secret word before the android is hanged!</h2>
    <a href="/play" class="btn btn-success" role="button">Let's Play!</a>
  </div>
	<section class="gallows">
		<section class="top_frame">
			<section class="side_frame">
				<div class="android">
	        <div class="head">
	    			<div class="r_ant"></div>
	    			<div class="l_ant"></div>
	    			<div class="r_eye"></div>
	    			<div class="l_eye"></div>
	  			</div>
		      <div class="body">
		    		<div class="r_arm"></div>
		    		<div class="l_arm"></div>
		    		<div class="r_leg"></div>
		    		<div class="l_leg"></div>
		  		</div>
				</div>
			</section>
			<section class="base_frame"></section>
			<section class="angle1"></section>
			<section class="angle2"></section>
		</section>
	</section>

{% endblock %}
